/*********************

# Fonts

*********************/

// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/Montserrat-Regular.ttf') format('ttf');
  font-display: swap;
}

// PlayFair
@font-face {
  font-family: 'PlayFair';
  src: local('PlayFair'),
    url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf');
  font-display: swap;
}

// Open sans
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-display: swap;
}
