/***********************

* Globals
* Heading
* Colors
* Font Families
* Helpers Classes
* Animations

***********************/

/*********************

# Globals

*********************/

::-webkit-input-placeholder {
  text-align: center;
  font-weight: bold;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  font-weight: bold;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  font-weight: bold;
}

:-ms-input-placeholder {
  text-align: center;
  font-weight: bold;
}

body {
  outline: none !important;
  position: relative;
  background-color: $docColorLightGray;
}

:focus {
  outline: none;
}

.table td {
  border-width: 0px !important;
}

/*********************

# Heading

*********************/

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

/*********************

# Colors

*********************/

.c-white {
  color: $typeColorWhite !important;
}

.c-black {
  color: $typoColorBlack !important;
}

.c-grey {
  color: $typeColorLightGray !important;
}

.c-fushia {
  color: $typoColorFuchsia !important;
}

/*********************

# Font Families

*********************/

.f-opensans {
  font-family: $openSans;
}

.f-montserrat {
  font-family: $montserrat;
}

.f-playFair {
  font-family: $playFair;
}

.align-middle {
  vertical-align: middle !important;
}

.btn-size-large {
  height: 45px;
  border-radius: 50px;
}

/*********************

# Bulma Override

*********************/

.modal-close {
  display: none;
}

.modal {
  position: fixed;
}

.modal .modal-content {
  padding: 50px 0px;
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
  background-color: $docColorFuchsia;
}

.b-radio.radio input[type='radio'] + .check.is-info {
  border-color: #209cee;
}

.b-radio.radio input[type='radio'] + .check.is-default {
  border-color: #00d1b2;
}

.b-radio.radio input[type='radio'] + .check.is-success {
  border-color: #23d160;
}

.b-radio.radio input[type='radio'] + .check.is-danger {
  border-color: #ff3860;
}

.b-radio.radio input[type='radio'] + .check.is-warning {
  border-color: #ffdd57;
}

.b-radio.radio input[type='radio'] + .check:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  background-color: #00d1b2;
  margin-bottom: calc(-40px / 2);
  margin-left: calc(-40px / 2);
  width: 40px;
  height: 40px;
}

.b-radio.radio input[type='radio']:checked + .check:before {
  transform: scale(0.2);
}

.button.is-primary {
  background-color: $typoColorFuchsia !important;
}

.button.is-focused {
  background-color: $typoColorFuchsia;
}

.pagination.is-rounded .pagination-link {
  justify-content: center;
}

.control.has-icons-right {
  .icon {
    display: none;
  }
}

/*** Responsive **/

.notification {
  .media {
    display: flex;
    align-items: center;
  }
}

/*********************

# Helpers Classes

*********************/

.is-danger.input {
  border-color: #ff3860 !important;
}

.container-90 {
  width: 90% !important;
  max-width: 100%;
}

/*** Input Style ***/

.custom-input {
  position: relative;
  .input {
    border: 2px solid #e1e1e1;
    padding: 25px;
  }
}

/*** Select Style ***/

.custom-select {
  select {
    width: 623px !important;
    border: 2px solid #e1e1e1;
    height: 50px;
  }
}

.w-90 {
  width: 90%;
}

.rounded-input {
  input {
    padding-left: 50px !important;
  }
  span {
    padding-left: 15px;
  }
}

/*** Number Input Style ***/

.quantity-input {
  .icon {
    i {
      font-size: 14px;
    }
  }
  input {
    border-radius: 20px;
    border: 2px solid #e1e1e1;
  }
}

.line-through {
  text-decoration: line-through;
}

/*********************

# Animations

*********************/

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
