@import 'bulma/sass/utilities/_all.sass';
// Typography Colors
$typoColorBlack: #2e2e2e;
$typeColorGray: #6c6c6c;
$typeColorLightGray: #b4b4b4;
$typoColorFuchsia: #f62f5e;
$typeColorWhite: #ffffff;

// Document Colors
$docColorBlack: #2e2e2e;
$docColorFuchsia: #f62f5e;
$docColorLightBlue: #6eb2fb;
$docColorYellow: #f1ad3d;
$docColorLightGray: #f7f7f7;
$docColorTeal: #00d3ca;
$docColorLemon: #effc90;
$docColorWhite: #ffffff;
$paginationNavColor: #efefef;
// Fonts
$playFair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;
$fa-font-path: '../fonts/webfonts';

// Footer
$footerIconRatio: 40px;

// Colors
$orange: #ff9800;
$indigo: #3f51b5;
$purple: #673ab7;

// Ovveride Bulma
$dropdown-item-hover-background-color: transparent;
$button-hover-border-color: inital;
$button-text-hover-color: inital;
$button-focus-color: inital;
$button-focus-border-color: inital;
$button-focus-box-shadow-size: inital;
$button-focus-box-shadow-color: inital;
$dropdown-item-active-color: inital;
$pagination-current-background-color: $docColorFuchsia;
$pagination-current-border-color: $docColorFuchsia;
$pagination-border-color: inital;
$pagination-active-border-color: inital;
$pagination-focus-border-color: intial;
$input-icon-active-color: $typoColorFuchsia;
$input-focus-border-color: inital;
$button-text-hover-background-color: $docColorFuchsia;
$dropdown-content-arrow: $docColorFuchsia;
$link: $docColorFuchsia;
$input-border-color: #707070;
$custom-colors: (
  'Yellow': $warning,
  'White': #f7f7f7,
  'Black': $black,
  'Red': $danger,
  'Orange': $orange,
  'Green': $green,
  'Blue': $info,
  'Indigo': $indigo,
  'Purple': $purple
);

$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black
    ),
    'black': (
      $black,
      $white
    ),
    'light': (
      $light,
      $light-invert
    ),
    'dark': (
      $dark,
      $dark-invert
    ),
    'primary': (
      $primary,
      $primary-invert
    ),
    'link': (
      $link,
      $link-invert
    ),
    'info': (
      $info,
      $info-invert
    ),
    'success': (
      $success,
      $success-invert
    ),
    'warning': (
      $warning,
      $warning-invert
    ),
    'danger': (
      $danger,
      $danger-invert
    )
  ),
  $custom-colors
);
