// Typography Colors
$typoColorBlack: #2E2E2E;
$typeColorGray: #6C6C6C;
$typeColorLightGray: #B4B4B4;
$typoColorFuchsia: #F62F5E;
$typeColorWhite: #FFFFFF;

// Document Colors
$docColorBlack: #2E2E2E;
$docColorFuchsia: #F62F5E;
$docColorLightBlue: #6EB2FB;
$docColorYellow: #F1AD3D;
$docColorLightGray: #F7F7F7;
$docColorTeal: #00D3CA;
$docColorLemon: #EFFC90;

// Fonts
$playFair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;