// Fontawesome
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
// Buefy and Bulma Sass
@import 'bulma/bulma.sass';
@import 'buefy/src/scss/buefy.scss';
// Tailwindcss
@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'variables';
@import 'globals';

body {
  outline: none !important;
  position: relative;
  background-color: $docColorLightGray;
}

.custom-filled-button {
  background-color: $docColorFuchsia;
  border: 0;
  border-radius: 50px;
  color: $typeColorWhite;
  font-family: $montserrat;
  height: 45px;
  padding: 0px 18px;
  span {
    font-size: 14px !important;
  }
}

// Buttons Types Style
.m-is-outlined,
.m-is-filled-white,
.m-is-filled-fuchsia {
  border-radius: 20px;
  padding: 0 25px;
  font-weight: bold;
  transition: 0.3s;
}

.m-is-pure {
  background-color: transparent !important;
  border: 0px !important;
  width: 100px;
  color: $typoColorFuchsia !important;
}

.m-is-filled-white {
  color: $typoColorFuchsia;
  border: 2px solid $typeColorWhite;
  &:hover {
    background-color: $typoColorFuchsia;
    color: $typeColorWhite;
  }
}

.m-is-filled-fuchsia {
  color: $typeColorWhite;
  border: 2px solid $typoColorFuchsia;
  background-color: $typoColorFuchsia;
  &:hover {
    background-color: transparent;
    span {
      color: $typoColorFuchsia;
    }
  }
}

.m-is-large {
  border-radius: 50px;
  span {
    font-size: 20px;
  }
}

.m-is-outlined {
  background-color: transparent;
  border: 2px solid $typeColorWhite;
  color: $typeColorWhite;
  transition: 0.3s;
  &:hover {
    background-color: $typeColorWhite !important;
    color: $typoColorFuchsia;
    border-color: $typeColorWhite;
  }
}
